server:
  port: 9090  # Default port, can be overridden by profiles
  servlet:
    context-path: /api/v1

spring:
  web:
    resources:
      add-mappings: false  # Disables static resource handling
  application:
    name: MaidServiceProvider
  profiles:
    active: prod  # Default profile; can be changed to 'prod' or overridden at runtime
#  mail:
#    host: smtp.gmail.com
#    port: 587
#    username: webhosttest2023@gmail.com
#    password: uaapgyupqjvtbjbz
#    protocol: smtp
#    default-encoding: UTF-8
#    properties:
#      mail:
#        smtp:
#          auth: true
#          starttls:
#            enable: true
#          connectiontimeout: 5000
#          timeout: 5000
#          writetimeout: 5000

  security:
    filter:
      dispatcher-types: REQUEST,ERROR,ASYNC
    session:
      timeout: 30m
      cookie:
        name: JSESSIONID
        http-only: true
        secure: false  # Set to true in production
        same-site: none  # For cross-site requests

  server:
    servlet:
      session:
        timeout: 30m
        cookie:
          http-only: true
          secure: false  # Set to true in production
          same-site: none  # For cross-site requests


  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false  # Optional: helpful during development

cloudinary:
  cloud-name: djrxcaxbc
  api-key: 165721923489928
  api-secret: ZdzyHrMrhVNeh9vtxG09CBvP3Uw


jwt:
  secret: "9jXb2PN0OOPS02RjC3juIQi9VhQcn2lNeRrBoGjlPvY="
  expiration-ms: 1800000 #  also we can use 30m


logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG


# Dev profile settings
---
spring:
  config:
    activate:
      on-profile: dev
  data:
    mongodb:
      uri: mongodb://localhost:27017
      database: maid_service

server:
  port: 9090

app:
  env: local

health:
  check: http://localhost:9090/api/v1/systemCheck
# Prod profile settings
---
spring:
  config:
    activate:
      on-profile: prod
  data:
    mongodb:
      uri: mongodb+srv://sjroot9:gvBZZkzcKXWGGRru@recharge.xniae.mongodb.net/?retryWrites=true&w=majority
      database: maid_service_prod

server:
  port: 8080

health:
  check: https://maidserviceprovider.onrender.com/api/v1/systemCheck

